* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/miami.jpg') no-repeat fixed ;
    background-size: cover;
    
}

body::-webkit-scrollbar{
   display: none;
}

.navbar {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.link{
    font-size: 17px;
    font-weight: 500;
    font-family: 'helvetica';
    text-decoration: none;
    margin: 27px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: rgb(0, 238, 255)
}


.navbarP2{
        font-size: 16pt;
        font-family: 'helvetica';
        font-weight: 600;
        position: absolute;
        transition: all 0.4s ease-in-out 0.1s;
        animation: fade 2s;
        color: rgba(12, 17, 51, 0.932);
}
    
.developer{
        color:rgba(25, 36, 73, 0.932);
        font-size: 12pt;
        font-family: 'helvetica';
        font-weight: 600;
        animation: fade 2s;
        margin-top: 30pt;
}

.nameText{
    height:40pt;
    width: 350pt;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    margin:auto;
    margin-top:6vh;
}


.home1{
    height: 43vh;
    width: auto;
    background-color:  rgba(255, 255, 255, 0.356);
    border-top: 50px solid rgba(21, 21, 59, 0.678);
    display:flex;
    align-items:center;
    justify-content:flex-end;
}


.home2{ 
    background-color: rgba(24, 24, 48, 0.938);
    position: relative;
    padding: 7px;
    box-sizing: border-box;
    border-top: 1px solid  rgba(0, 238, 255, 0.548);
    border-bottom: 1px solid  rgba(0, 238, 255, 0.548);
    animation: fade 3s;
}  


@keyframes fade{
    from{opacity: 0}
    to{opacity: 1}
}


.home2 p{
    animation: translateToPosition 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes translateToPosition{
    0%{
        transform: translateX(-1000px);
        letter-spacing: 25px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}


.home2 h5{
    animation: translateToPosition1 5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes translateToPosition1{
    0%{
        transform: translateX(1000px);
        letter-spacing: 15px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}


.home3 {
    background-color:rgba(14, 14, 27, 0.959);
    height: 850px;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 204, 255, 20);
    border-top: 1px solid rgba(0, 204, 255, 20);
}


.home4{  
    background-color:rgba(255, 255, 255, 0.356);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.home5{
     height:300px;
     width: 100%;
     background-color:  rgba(255, 255, 255, 0.356);
 }


.aboutP{
    font-family: 'helvetica';
    color: rgb(255, 255, 255);
    font-size: 13pt;
    font-family: 'verdana';
    font-weight: 520;
    text-align: center;
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    position:relative;
}


.provide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}


.inline{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(1, 2, 11, 0);
    height: 120px;
    width: 100%;
    margin:auto;
    border-radius: 23px;
}
    
    
ul{
    margin: 100px;
    margin-top: 30px;
}


li{
    color: rgb(250, 250, 250);
    font-size: 12.5pt;
    font-family: 'verdana';
    font-weight: 520;
    margin: auto;
}


.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 30pt;
    width: 30pt;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 30px;
    transition: 0.5s ease-in-out 0.2s;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
    transition: 0.3s
}


.linkedin:hover{
    height: 37pt;
    width: 37pt;
}


.git{
    background-image: url( './Photos/git.png')  ; 
    height: 29.7pt;
    width: 29.5pt;
    background-position: center ;
    background-size: cover;
    display:inline-block;
    margin: 30px;
    transition: 0.5s ease-in-out 0.2s;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 300px;
    transition: 0.3s
}


.git:hover{
    height: 37pt;
    width: 37pt;
}


.resume{
    background-image: url( './Photos/cv.png')  ; 
    height: 28pt;
    width: 28pt;
    background-position: center ;
    background-size: cover;
    display:inline-block;
    margin: 30px;
    transition: 0.5s ease-in-out 0.2s;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s
}

.resume:hover{
    height: 37pt;
    width: 37pt;
    
}

.fixed{
    height: 90pt;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git2{
    background-image: url( './Photos/git.png')  ; 
    height: 30pt;
    width: 30pt;
    background-position: center ;
    background-size: cover;
    display:flex;
    margin: auto;
    transition: 0.5s ease-in-out 0.2s;
    border: 5px solid black;
    border-radius: 300px;
}


.contact{
    background-color:rgba(14, 14, 27, 0.959);
    height: 57vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(0, 204, 255,20);
    font-family: 'verdana';
    color:rgb(223, 223, 223);
    font-size: 20px;
}

.contact1{
    display: block;
}
 
h1{
    margin-bottom: 40px;
}

 .work{
     text-align: center;
     margin-top: 5px;
     margin-bottom:15pt;
     font-size: 25px;
}

.welcomeP{
    font-size: 16pt;
    font-family: 'helvetica';
    font-weight: 700;
    text-align: center;
    width:auto;
    color: white;
}


h5{
    color: rgba(233, 233, 233, 0.678);
    font-size: 12pt;
    font-family: 'helvetica';
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    margin-top: 5px;
}

.react1 {
    background-image: url( './Photos/react.png')  ; 
    background-position: center;
    background-size: cover;
    height: 30pt;
    width: 30pt;
    margin:auto;
    animation: reverseLogo 5s linear infinite
}


@keyframes reverseLogo{
    from{
        transform: rotateZ(0deg)
    }
    to{
        transform: rotateZ(360deg)
    }
}

.logos {
    display: flex;
    width: 850px;
    margin:auto;
}

.ID {
    background-image: url( './Photos/portfolio.jpg')  ; 
    background-position: center;
    background-size: cover;
    height: 105pt;
    width: 105pt;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100px;
    margin:auto;
}

   
.javascript {
    background-image: url( './Photos/javascript.png')  ; 
    background-position: center;
    background-size: cover;
    height: 100pt;
    width: 100pt;
    margin:auto;
    animation: fade 1s, shake 13s  infinite;
}


.react {
    background-image: url( './Photos/react2.png')  ; 
    background-position: center;
    background-size: cover;
    height: 45pt;
    width: 40pt;
    margin:auto;
    animation: fade 2s, shake 16s  infinite;
}


.html {
    background-image: url( './Photos/html.png')  ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 47pt;
    width: 50pt;
    margin:auto;
    animation: fade 3s, shake 14s  infinite;
}


.css {
    background-image: url( './Photos/css.png')  ; 
    background-position: center;
    background-size: cover;
    height: 50pt;
    width: 30pt;
    margin:auto;
    animation: fade 4s, shake 17s  infinite;
}


.node {
    background-image: url( './Photos/node.png')  ; 
    background-position: center ;
    background-size: cover;
    height: 45pt;
    width: 73pt;
    margin:auto;
    animation: fade 5s, shake 16s  infinite;
}


.mongo{
    background-image: url( './Photos/mongo.png')  ; 
    background-position: center;
    background-size: cover;
    height: 40pt;
    width: 40pt;
    margin:auto;
    animation: fade 6s, shake 15s  infinite;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(1px, 1px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, 1px) rotate(-1deg); }
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects1{
    background-color:rgba(14, 14, 27, 0.959);
    border-bottom: 1px solid rgb(0, 204, 255,20);
    border-top: 1px solid rgb(0, 204, 255,20);
    font-family: 'helvetica';
    color: white;
    display: block;
    height: auto;
    padding:20px;
    padding-top:50pt;
}

.shell{
    width: 300px;
    height: 182px;
    transition: all 0.3s;
    margin:auto;
}

.shell:hover{
    width: 310px;
    height: 192px;
    border-radius:1pt;
}

.imgWrap{
    width:310px;
    height:194px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height:192px;
    margin:auto;
}


.excDiv{
    width: 320px;
    height: 350px;
    border-radius: 5px;
    margin: 4%;
    display: block;
}


.excDiv2{
    width: 320px;
    height: 350px;
    border-radius: 5px;
    margin: 4%;
    display: block;
}


.shellDiv{
    width: 320px;
    height: 350px;
    /* border: 4px solid rgb(255, 255, 255); */
    border-radius: 5px;
    margin: 4%;
    display:block;
}

.exchangeText,
.shellText{
   margin: 2pt;
   margin-bottom:10pt;
}



@media only screen and (max-width: 770px) {

    
    .inline{
        margin:0px;
        width:auto;
        height: auto;
    }
    
    .navbar{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .navbarP2{
       font-size:14pt;
    }
    
    .nameText{
        margin-top:15pt;
        position:relative;
    }
    
    .welcomeP{
        font-size: 12pt;
    }

    
    h5{
        font-size: 11pt;
    }
    
    .home1{
        border-top: 50px solid rgba(23, 27, 39, 0.897); 
        height: 45vh;
    }

    .home2{
       height: auto;
    }

    .home5{
        height: 45vh;
    }
    
    .home4{
        height: 45vh;
    }
    
    .link{
        font-size: 12pt;
        margin: auto;
        color: white;
        font-family: "trebuchet ms";
        font-weight: 600;
        position: relative;
        padding-top: 16px;
        display: flex;
    }

    .aboutP{
        margin: 12px;
        border: 0px;
        padding-top: 7px;
        font-size:15px;
    }

    .projects{
        display:block;
        height: auto;
    }
    
    .home3{
       padding:10px;
       height: 980PX;
    }
    
    
    .work{
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .ID{
        height: 120px;
        width:120px;
        margin-top: 43px;
        margin-bottom: 20px;
    }
    
    
    .home1,
    .about,
    .home3{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    

    .logos{
        width:100%;
        height: 100px;
        margin: 0px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    
    .react{
        height: 40px;
        width: 40px;
        margin: auto;
    }
    
    
    .html,
    .css
    {   
        height: 45px;
        width: 45px;
        margin: auto;
    }

    
    .javascript{
        height: 72px;
        width: 60px;
        margin: auto;
    }

    
    .node{
        height: 45px;
        width:  72px;
        margin: auto;
    }

    
    .git2,
    .mongo{
        height: 32px;
        width: 32px;
        margin: auto;
    }


    .provide{
        width:auto;
        height:auto;
        display:flex;
    }


    ul{   
        margin: 10%;
        width:auto;
        padding: 0px;
    }

   
    li{
        font-size: 14px;
        width: auto;
        margin: 10px;
    }

    
    .contact1{
        font-size: 17px;
        padding: 10px;
    }

      .resume,
      .linkedin,
      .git{
        margin: 10px;
        margin-right: 30px;
        margin-left: 30px;
      }

    
    .git,
    .resume,
    .linkedin{
        height: 44px;
        width:44px;
    }
   
    
    .projects1{
       height: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

   
   .shellDiv,
   .excDiv{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 290px;
       height: 400px;
       margin:auto;
    }

   
   .exchange,
   .shell{
       height: 160px;
       width: 270px;
       margin:auto;
    }

    .shell:hover{
       height: 160px;
       width: 270px;
       margin:auto;
    }

    .imgWrap{
        height:160px;
        width:280px;
        margin-bottom:3px;
    }
   
   .exchangeText,
   .shellText{
       font-size: 15px;
       margin:8pt;
    }

   
    .react1 {
        background-image: url( './Photos/react.png')  ; 
        background-position: center;
        background-size: cover;
        height: 35px;
        width: 35px;
        margin:auto;
        margin-top: 5px;
        animation: reverseLogo 5s linear infinite
    }

    .nameText{
        width: 200pt;
    }

     .fixed{
         height: auto;
     }

     
     body::before {
        content: ' ';
        display: block;
        background-image: url('./Photos/miami.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: -10; 
      }
      
    body::-webkit-scrollbar{
       display: none;
    }

}
